.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center .image img {
  margin-top: 80px;
  display: block;
  flex-wrap: wrap;
  width: 250px;
}

.text {
    text-align: center;
}
